/* === Imports === */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital@0;1&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* === Fonts === */
@theme {
  --font-jetbrains-mono: "JetBrains Mono", monospace;
}

/* === Colors === */
@theme {
  --color-tinted-primary-50: var(--color-amber-50);
  --color-tinted-primary-100: var(--color-amber-100);
  --color-tinted-primary-200: var(--color-amber-200);
  --color-tinted-primary-300: var(--color-amber-300);
  --color-tinted-primary-400: var(--color-amber-400);
  --color-tinted-primary-500: var(--color-amber-500);
  --color-tinted-primary-600: var(--color-amber-600);
  --color-tinted-primary-700: var(--color-amber-700);
  --color-tinted-primary-800: var(--color-amber-800);
  --color-tinted-primary-900: var(--color-amber-900);
  --color-tinted-primary-950: var(--color-amber-950);

  --color-tinted-surface-50: var(--color-mist-50);
  --color-tinted-surface-100: var(--color-mist-100);
  --color-tinted-surface-200: var(--color-mist-200);
  --color-tinted-surface-300: var(--color-mist-300);
  --color-tinted-surface-400: var(--color-mist-400);
  --color-tinted-surface-500: var(--color-mist-500);
  --color-tinted-surface-600: var(--color-mist-600);
  --color-tinted-surface-700: var(--color-mist-700);
  --color-tinted-surface-800: var(--color-mist-800);
  --color-tinted-surface-900: var(--color-mist-900); /* oklch(21.8% 0.008 223.9); */
  --color-tinted-surface-925: oklch(17.8% 0.004 228.8); /* oklch(17.8% 0.004 228.8); */
  --color-tinted-surface-950: var(--color-mist-950); /* oklch(14.8% 0.004 228.8); */
}

/* === Styles === */
.primary-container {
  @apply bg-tinted-surface-300 dark:bg-tinted-surface-900 border-2 border-tinted-surface-400 dark:border-tinted-surface-800;
}
.secondary-container {
  @apply bg-tinted-surface-400 dark:bg-tinted-surface-800 border-2 border-tinted-surface-500 dark:border-tinted-surface-700;
}

.tab-focus button:focus-visible,
.tab-focus a:focus-visible,
.tab-focus input:focus-visible,
.tab-focus textarea:focus-visible {
  @apply outline-2 outline-offset-2 outline-tinted-primary-600 dark:outline-tinted-primary-400;
}

/* Prose */

/* Prototype */
/* a {
  @apply hover:underline hover:text-tinted-primary-500 dark:hover:text-tinted-primary-300 active:text-tinted-primary-600 dark:active:text-tinted-primary-500;
} */
